#icon {
  position: absolute;
  width: 235px;
  height: 235px;
  top: 15px;
  left: 15px;
}
#exename {  /*r*/
  overflow: auto;
  padding: 15px 20px 0px 265px;
}
h1 { /*r*/
  font-size: 19px;
  line-height: 28px;
  text-indent: 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #888888;
}
#icon_img {
  position: absolute;
  width: 219px;
  height: 219px;
  top: 8px;
  left: 8px;
}
#vertable {
  font-size: 10pt;
}
#info {
  overflow: auto;
  position: absolute;
  bottom: 30px;
  left: 270px;
  top: 70px;
  right: 22px;
  min-height: 165px;
}
td {
  border-style: none;
}
body {   /*r*/
  font-family: "Lucida Grande";
  background-color: #484848;
  color: white;
  margin: 0px;
  min-width: 640px;
}
#prgversion {  /*r*/
  font-size: 9px;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  text-align: right;
  width: 100%
}
.badge {  /*r*/
  font-size: 10px;
  background-color: #36f;
  padding: 2px 6px 2px 6px;
  -webkit-border-radius: 8px;
  position: relative;
  float: right;
  margin: 0px 3px 0px 3px;
  top: 18px;
}